* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #f43397 */

.container {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.firstView {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.title img {
  width: 220px;
  height: 65px;
  margin-top: 5px;
}

.inputField {
  width: 80%;
  /* margin-left: 10px; */
}

.input {}


.input::placeholder {
  font-size: 20px;
  font-weight: 400;
  
}


.searchIcon {}


.secondView {
  width: 40%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: center;
  background-color: #666666;
}

.getApp {
  width: 200px;
  background-color: #666666;
  height: 90px;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.getApp p {
  font-size: 20px;

  letter-spacing: 1px;
  
  margin: 0px 10px;

}



.divider {
  width: 2px;
  height: 50px;
}

.divider2 {
  width: 2px;
  height: 50px;
  background-color: #acbbbc;
  margin-left: 20px;
  opacity: 0.6;
}


.supplier p {
  font-size: 20px;
  letter-spacing: 1px;
  
  margin: 0px 5px;
}

.supplier:hover {
  cursor: pointer;
}




.profile p {
  font-size: 20px;
  
}


.profile p {
  font-size: 20px;

  
}

.cart:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: #f9f9f9;
  padding: 50px 30px 70px 30px;
}

.firstSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  
}

.subTitle {
  font-size: 22px;
  font-weight: 400;
  color: #666666;
  line-height: 28px;
  margin: 20px 0;
}

.content {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #666666;
  
}

.subContent {
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 15px;
  font-weight: 600;
  color: #666666;
  
}

.contactTitle {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  
}

.contactIcons {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.contactIcons img {
  width: 30px;
  height: 30px;
  margin: 15px 0px;
}

.download {
  width: 460px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.download img {
  width: 220px;
  height: 55px;
}

.accordion {
  margin-top: 50px;
  border: 0.2px solid #acbbbc;
  border-radius: 4px;
}

.accordionDet {
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #acbbbc;
  padding: 0px 20px;
  position: relative;
}


.navbar ul {
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
  height: 57px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.navbar ul li:hover {
  border-bottom: 4px solid #f43397;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;
  
}

.navbar ul li a:hover {
  cursor: pointer;
  color: #f43397;
}

.navbar ul li a:hover>.nav-item {
  background-color: yellow;
}

.hiddenNav {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 5;
  border-bottom: 1px solid #acbbbc;
  border-left: 1px solid #acbbbc;
  border-right: 1px solid #acbbbc;
  background-color: white;
  padding: 20px;
}

.hiddenNav p {
  font-size: 22px;
  font-weight: 600;
}

.homeContainer {
  width: 100%;
}

.mainDiv {
  width: 100%;
  padding: 60px 160px;
  display: grid;
  grid-template-columns: 1.05fr 0.95fr;
}

.mainContentDiv {
  width: 100%;
  height: 400px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f9f9f9;
}

.mainImageDiv {
  width: 100%;
  height: 100%;
}

.mainImageDiv img {
  width: 100%;
  height: 400px;
  resize: cover;
}

.mainContentTitle {
  font-size: 50px;
  font-weight: 600;
  
}

.subTitle {
  width: 400px;
  height: 65px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContentSubTitle {
  font-size: 25px;
  font-weight: 600;
  color: #666666;
  
}

.downloadApp {
  width: 400px;
  height: 65px;
  border-radius: 4px;
  background-color: #f43397;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 8px;
}

.downloadApp img {
  width: 30px;
  height: 35px;
}

.downloadApp p {
  font-size: 23px;
  font-weight: 600;
  color: white;
}

.category {
  display: flex;
  padding: 20px 160px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hrDivider {
  width: 300px;
  height: 0.1px;
  background-color: #f43397;
}

.categoryTitle {
  font-size: 45px;
  font-weight: 600;
  
}

.Fashion {
  width: 100%;
  height: 85vh;
  padding: 0px 160px;
  margin: 50px 0px;
}

.Homecare {
  width: 100%;
  height: 85vh;
  padding: 0px 160px;
  margin: 80px 0px;


  font-family: 500;

}