* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #f43397 */

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.firstView {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.title img {
  width: 220px;
  height: 65px;
  margin-top: 5px;
}

.inputField {
  width: 80%;
  /* margin-left: 10px; */
}

.input {}


.input::placeholder {
  font-size: 20px;
  font-weight: 400;

}


.searchIcon {}


.secondView {
  width: 40%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: center;
  background-color: #666666;
}

.getApp {
  width: 200px;
  background-color: #666666;
  height: 90px;
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}

.getApp p {
  font-size: 20px;

  letter-spacing: 1px;

  margin: 0px 10px;

}



.divider {
  width: 2px;
  height: 50px;
}

.divider2 {
  width: 2px;
  height: 50px;
  background-color: #acbbbc;
  margin-left: 20px;
  opacity: 0.6;
}


.supplier p {
  font-size: 20px;
  letter-spacing: 1px;

  margin: 0px 5px;
}

.supplier:hover {
  cursor: pointer;
}




.profile p {
  font-size: 20px;

}


.profile p {
  font-size: 20px;


}

.cart:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: #f9f9f9;
  padding: 50px 30px 70px 30px;
}

.firstSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;

}

.subTitle {
  font-size: 22px;
  font-weight: 400;
  color: #666666;
  line-height: 28px;
  margin: 20px 0;
}

.content {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #666666;

}

.subContent {
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 15px;
  font-weight: 600;
  color: #666666;

}

.contactTitle {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;

}

.contactIcons {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.contactIcons img {
  width: 30px;
  height: 30px;
  margin: 15px 0px;
}

.download {
  width: 10%;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.download img {
  width: 10%;
  height: 10vh;
}

.accordion {
  margin-top: 50px;
  border: 0.2px solid #acbbbc;
  border-radius: 4px;
}

.accordionDet {
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #acbbbc;
  padding: 0px 20px;
  position: relative;
}


.navbar ul {
  display: flex;
  height: 60px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
  height: 57px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.navbar ul li:hover {
  border-bottom: 4px solid #f43397;
}

.navbar ul li a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: 400;

}

.navbar ul li a:hover {
  cursor: pointer;
  color: #f43397;
}

.navbar ul li a:hover>.nav-item {
  background-color: yellow;
}

.hiddenNav {
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 5;
  border-bottom: 1px solid #acbbbc;
  border-left: 1px solid #acbbbc;
  border-right: 1px solid #acbbbc;
  background-color: white;
  padding: 20px;
}

.hiddenNav p {
  font-size: 22px;
  font-weight: 600;
}

.loadingContainer{
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 15;
  background-color: #666666;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer img{
  width: 80px;
  height: 80px;
}

