* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #f43397 */

.container {
  width: 100%;
  height: 100vh;
}

.contactBox {
  padding: 0px 10px;
  height: 90px;
  border-bottom: 1px solid #acbbbc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstView {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.title img {
  width: 220px;
  height: 65px;
  margin-top: 5px;
}

.inputField {
  position: relative;
  margin-left: 10px;
}

.input {
  width: 490px;
  height: 70px;
  outline: none;
  border: none;
  caret-color: #f43397;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 4px;
  padding-left: 50px;
  margin-left: 10px;
  font-size: 20px;
}

.input::placeholder {
  font-size: 20px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input:focus {
  box-shadow: 0 3px 5px 0px rgb(20 20 20 / 10%);
}

.searchIcon {
  position: absolute;
  top: 15px;
  left: 20px;
}

.closeIcon {
  position: absolute;
  top: 20px;
  right: 10px;
}

.closeIcon:hover {
  cursor: pointer;
}

.secondView {
  width: 35%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.getApp {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.getApp p {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 500;
  margin: 0px 10px;
}

.getApp:hover {
  cursor: pointer;
  color: #f43397;
  border-bottom: 4px solid #f43397;
}

.divider {
  width: 2px;
  height: 50px;
  background-color: #acbbbc;
  margin: 0px 20px;
  opacity: 0.6;
}

.divider2 {
  width: 2px;
  height: 50px;
  background-color: #acbbbc;
  margin-left: 20px;
  opacity: 0.6;
}

.supplier {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.supplier p {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 500;
  margin: 0px 5px;
}

.supplier:hover {
  cursor: pointer;
}

.user {
  width: 15%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.profile {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 15px;
}

.profile p {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 500;
}

.profile:hover {
  cursor: pointer;
  color: #f43397;
  border-bottom: 4px solid #f43397;
}

.cart {
  line-height: 15px;
}

.cart p {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 500;
}

.cart:hover {
  cursor: pointer;
}

.footer {
  width: 100%;
  background-color: #f9f9f9;
  padding: 50px 30px 70px 30px;
}

.firstSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subTitle {
  font-size: 22px;
  font-weight: 400;
  color: #666666;
  line-height: 28px;
  margin: 20px 0;
}

.content {
  font-size: 22px;
  letter-spacing: 1px;
  font-weight: 600;
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.subContent {
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 15px;
  font-weight: 600;
  color: #666666;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contactTitle {
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contactIcons {
  display: flex;
  flex-direction: row;
  width: 250px;
  justify-content: space-between;
}

.contactIcons img {
  width: 30px;
  height: 30px;
  margin: 15px 0px;
}

.download {
  width: 460px;
  margin: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.download img {
  width: 220px;
  height: 55px;
}

.accordion {
  margin-top: 50px;
  border: 0.2px solid #acbbbc;
  border-radius: 4px;
}

.accordionDet {
  display: flex;
  flex-direction: column;
}