.homecareView {
    width: 100%;
    height: 100%;
    background-image: url("https://images.meesho.com/images/marketing/1646055706531.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 120px 90px 50px 90px;
    border-radius: 4px;
}

.firstHomeCare {
    width: 20%;
}

.firstHomeCareImg {
    width: 100%;
    height: 100%;
}

.firstHomeCareImg img {
    width: 100%;
    height: 100%;
}

.BedsheetBtn {
    width: 100%;
    height: 14%;
    margin-top: 20px;
}

.BedsheetBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.secondHomeCare {
    width: 20%;
    margin: 15px;
}

.secondHomeCareImg {
    width: 100%;
    height: 100%;
}

.secondHomeCareImg img {
    width: 100%;
    height: 100%;
}

.KitchenWareBtn {
    width: 100%;
    height: 14%;
    margin-top: 20px;
}

.KitchenWareBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thirdHomeCare {
    width: 20%;
}

.thirdHomeCareImg {
    width: 100%;
    height: 100%;
}

.thirdHomeCareImg img {
    width: 100%;
    height: 100%;
}

.CarpetBtn {
    width: 100%;
    height: 14%;
    margin-top: 20px;
}

.CarpetBtn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}